<div id="<%= dom_id recipe %>" class="w-full text-sm bg-white rounded-lg shadow border-1 border-stone-400 md:mt-0 sm:max-w-md xl:p-0 w-xl">
  <div class="pl-6 pr-6 pt-2 pb-2 space-y-4 md:space-y-6 ">
    <h2 class="mb-3 font-medium text-xl"><%= link_to recipe.title, recipe %></h2>
    <div class="font-medium text-sm">
      <%= truncate recipe.body, length: 100, omission: '...' %>
    </div>
  </div>
</div>